 @import url("https://use.typekit.net/tow5bnk.css");

body {
  background: #fff;
  max-width: 600px;
  margin: 100px;
  padding: 50px;
}


header{
  top: 0px;
  left: 0px;
  width: 600px;
  height: 77px;
  background: linear-gradient(0.85turn, #2F388F 20%, #158EAD 80%);
  padding: 40px;
  text-align: center;
  background: transparent linear-gradient(116deg, #158EAD 0%, var(--unnamed-color-2f388f) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(116deg, #158EAD 0%, #2F388F 100%) 0% 0% no-repeat padding-box;
  opacity: 1;

}

.headshot{
top: 370px;
left: 232px;
width: 136px;
height: 137px;
background: transparent url('img/woman-buying-spectacles-6H5SULY.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

section#title-section{
  background: url();
  padding: 10px 30px 10px 30px;
  text-align: center;
}

section#topic-section{
  background: url("https://mcusercontent.com/ebd9cac8304c4d70592cc64f5/images/1cf73fac-b2c5-4317-ada6-416a23dbce07.png") no-repeat top center #fff;
  padding: 50px;
}

.topic{
  margin: 30px  0px;
}

section .value{
  background: linear-gradient(0.95turn, #181C48 20%, #2F388F 80%);
  color: white;
  padding: 30px 50px;
  border-radius: 3px;
  text-align: center;
  line-height: 0px;

}

section#perks-section{
  background: linear-gradient(0.95turn, #181C48 20%, #2F388F 80%);
  color: white;
  padding: 45px;
  background: transparent linear-gradient(134deg, #2F388F 0%, #181C48 100%) 0% 0% no-repeat padding-box;
}

section#cta-section{
  display: flex;
  padding: 50px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
}

button{
  margin: 0 auto;
  background: #f27f41;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 25px 100px;
  font-size: 1em;


}

section#share-section{
  background: #f7f7f7;
  padding: 25px 115px;
  text-align: center;
}

h1{
  color: #2F388F;
  font-family: yorkten-slab-normal;
  font-weight: 200;
  font-size: 37px;
}

h2{
  font-family: yorkten-slab-normal;
  font-weight: 100;
  font-size: 29px;
}

h3{
  color:#158EAD;
  font-family: yorkten-slab-normal;
  font-weight: 100;
  font-size: 25px;
  text-transform: capitalize;
}


h4{

}

h5{
  font-family: proxima-nova, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;

}

p{
  color: #707070;
  font-family: proxima-nova, sans-serif;
  font-size: 15px;

}

header h1{
  margin: 0 auto;
  text-align: center;
}

#topic-section h2{
    color: #2F388F;
}

section#perks-section p, section .value p{
  color: white;
}

.topic .title{
  color: #10284A;
  font-size: 18px;
  font-weight: 600px;
  line-height: 0px;
}
img.icon{
margin-left: -34px;
}
